.project-image{
    max-height:550px;
    display: block;
    width: auto;
    max-width: 95%;
    box-shadow: lightblue 3px 3px;
    border-radius: 5px;

    &.break{
    margin-bottom: 14px;
    }

}






a.link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 8px;
    
}






/* @media only screen and (max-width: 500px) {
    h3{
        font-size: small;
    }

    h2{
        font-size: medium;
    }

    #project-info{
    
        display: flex;
        flex-direction: column;
        
 
    }

} */

p{
    font-size: small;
}

ul {
    padding-inline-start: 20px;

}

li {
    font-size: small;

}

   

.contact-details{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    gap: 8px;
}

.contact-details .icon {
    padding: 0 5px 0 0;
    font-size: large;
}

.contact-details a{
    text-decoration: none;
    padding: 0 5px 0 0;


}



#blank-li{
    list-style:none;
    height:10px;
}