#project-info{
    
    display: flex;
    flex-direction: row;

}
.project-image{
    max-height:200px;
    display: block;
    width: auto;
    max-width: 95%;
    box-shadow: lightblue 3px 3px;
    border-radius: 5px;
}
h3{
    font-size: small;
}
p{
    font-size: smaller;
}

.contact-details{
    list-style: none;
    /* background-color: rgba(255, 255, 255, 0.6); */
    display: flex;
    flex-direction: row;
    align-content: center;
    
    
}

.contact-details a{
    text-decoration: none;
}



#blank-li{
    list-style:none;
    height:10px;
}